<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" media="screen and (max width:760px)" href="../static/css/mobile.css">
    <title>hotel gevora | inicio</title>
</head>
<body>
    <header>
        <nav id="navbar" class="py-70">
            <div class="container">
                <h1 class="logo"><a href="index.html">hotel gevora</a> </h1>
                <ul>
                    <li><a href="index.html"class="current">inicio</a></li>
                    <li><a href="sobrenosotros.html">sobre nosotros</a></li>
                    <li><a href="contact.html">contacto</a></li>
                    <li><a href="login.html">inicio de sesion</a></li>
                </ul>
            </div>
            <div id="showcase" class="py-50">
                <div class="container">
                    <h2>bienvenidos al hotel gevora</h2>
                    <p class="large">Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae architecto maxime aperiam quo minima ipsam sapiente facere provident laborum doloribus.</p>
                    <a href="sobrenosotros.html"class="btn btn-light">Sobre el Hotel</a>
                </div>
            </div>
        </nav>
    </header>

    <section id="reservacion"class="py-40">
        <div class="container">
            <h4>Realiza tu reservacion hoy</h4>
            <a href="contact.html"class="btn btn-dark">Realizar reserva</a>
        </div>
    </section>

    <section id="features">
        <div class="box features-1">
            <h4>habitacion doble</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum, facere.</p>
        </div>
        <div class="box features-2">
            <h4>habitacion de lujo</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum, facere.</p>
        </div>
        <div class="box features-3">
            <h4>habitacion parejas</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum, facere.</p>
        </div>
    </section>
    
    <div class="clr"></div>

    <footer id="mainfooter" >
        <p>&copy; 2022 hotel gevora</p>
    </footer>


</body>
</html>