<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../../static/css/login_registro.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
        <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
        <title>hotel gevora | registro</title>
    </head>
<body>
    <header>
        <nav id="navbar" class="py-30">
            <div class="container">
                <h1 class="logo"><a href="index.html">Hotel Gevora</a> </h1>
                <ul>
                    <li><a href="index.html">inicio</a> </li>
                    <li><a href="sobrenosotros.html">sobre nosotros</a> </li>
                    <li><a href="contact.html">contacto</a> </li>
                    <li><a href="login.html">inicio de sesion</a></li>
                    <li><a href="registro.html"class="current">registro</a></li>
                </ul>
            </div>
            
            </div>
        </nav>
    </header>

<section id="formulario">
    <div class="container-form sign-up">
        <form action="/registro/guardar" method="post" enctype="multipart/form-data">
            <h2 class="create-account">Crear una cuenta</h2>
            <div class="iconos">
                <div class="border-icon">
                    <i class='bx bxl-instagram'></i>
                </div>
                <div class="border-icon">
                    <i class='bx bxl-linkedin' ></i>
                </div>
                <div class="border-icon">
                    <i class='bx bxl-facebook-circle' ></i>
                </div>
            </div>
            <p class="cuenta-gratis">Crear una cuenta gratis</p>
            <label for="name">Tu nombre</label>
            <input type="text" name="nombre_form" id="name">
            <label for="mail">Tu correo</label>
            <input type="email" name="correo_form" id="mail">
            <label for="message">Tu contraseña</label>
            <input type="password" name="password_form" id="password">
            <button type='submit'  class="btn btn-dark">registrarse</button>
        </form>
    </div>
</section>

</body>
</html>