<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" media="screen and (max width:760px)" href="../static/css/mobile.css">
    <title>hotel gevora | about</title>
</head>
<body>
    <header>
        <nav id="navbar" class="py-30">
            <div class="container">
                <h1 class="logo"><a href="index.html">Hotel Gevora</a> </h1>
                <ul>
                    <li><a href="index.html">inicio</a> </li>
                    <li><a href="sobrenosotros.html"class="current">sobre nosotros</a> </li>
                    <li><a href="contact.html">contacto</a> </li>
                </ul>
            </div>
            
            </div>
        </nav>
    </header>
    <section id="about"class="py-50">
        <div class="container">
            <div class="about-content">
                <h1>sobre el hotel gevora</h1>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illo laudantium facere minima neque possimus, repellat fugit et eos voluptas voluptate placeat cumque ex laborum corrupti nihil temporibus animi ipsam nostrum nobis nam perferendis. Eligendi consequuntur quae quis! Nemo fuga necessitatibus iusto? Beatae nobis, temporibus repudiandae dolorem adipisci quaerat veniam ut?</p>
            </div>
            <div class="about-img">
                <img src="../static/img/abaut.jpg" alt="">
            </div>
        </div>
    </section>

    <section id="testimonial"class="py-80">
        <div class="container">
            <h2>testimonios</h2>
            <div class="testimonial-content">
                <img src="../static/img/yo.jpg" alt="">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste ab necessitatibus ea. Nesciunt repellendus modi quod temporibus expedita praesentium repudiandae.</p>               
            </div>
            <div class="testimonial-content">
                <img src="../static/img/amor.jpeg" alt="">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste ab necessitatibus ea. Nesciunt repellendus modi quod temporibus expedita praesentium repudiandae.</p>               
            </div>
        </div>
    </section>

    <footer id="mainfooter" >
        <p>&copy; 2022 hotel gevora</p>
    </footer>


</body>
</html>