* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Main Styling */
html,
body {
  font-family: 'Roboto', sans-serif;
  color: rgb(253, 253, 253);
}

h1 {font-size: 2.441rem;}
h2 {font-size: 1.953rem;}
h3 {font-size: 1.563rem;}
h4 {font-size: 1.25rem;}

h1,
h2,
h3,
h4 {
  text-transform: capitalize;
}

p {
  font-size: 1rem;
}

a {
  text-decoration: none;
  color: #4d4d4d;
}

hr {
  background: #fda94f;
  height: 20px;
  border: none;
}

/* Utility Classes */
.container {
  margin: auto;
  max-width: 1100px;
  overflow: auto;
  padding: 0 20px;
}

.btn {
  display: inline-block;
  font-size: 18px;
  color: #fff;
  padding: 13px 20px;
  border: none;
  cursor: pointer;
}

.btn-light {
  background: #fda94f;
}

.btn-dark {
  background: #4d4d4d;
}

.btn-light:hover {
  background: #fec281;
}

.btn-dark:hover {
  background: #737373;
}

.py-80 {padding: 80px 0;}
.py-40 {padding: 40px 0;}
.py-20 {padding: 20px 0;}

.box {
  float: left;
  width: 33.3%;
  text-align: center;
  padding: 50px;
  height: 250px;
}

.box h4 {
  padding-bottom: 20px;
  text-transform: uppercase;
}

.clr {
  clear: both;
}

/* Navbar */
#navbar .logo {
  font-size: 2.3rem;
  float: left;
  padding-top: 10px;
  padding-bottom: 30px;
}

#navbar h1 a {
  color: #fda94f;
}

#navbar ul {
  float: right;
  list-style: none;
}

#navbar ul li {
  float: left;
}

#navbar ul li a {
  display: block;
  padding: 20px;
  text-align: center;
}

#navbar ul li a.current,
#navbar ul li a:hover {
  color: #fda94f;
}
/*login*/
body {
  padding: 0;
  margin: 0;
  background: url('../img/loginh.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.login-box {
  width: 320px;
  height: 420px;
  background: #000;
  color: #fff;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 70px 30px;
}

.login-box .avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: -50%;
  left: calc(50% -50px);
}